@(user: models.users.User)
@main("Home",user){
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">Welcome To ALTernative Clothing</h1>
      
  </section>
<h3>Your Demands Is Met By Our Supply</h3>
 
   
        <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/2PhcjUXTH9g/1920x1080')">
        </div>
      <div class="display" src="@routes.Assets.versioned("images/fashion.jpg")" alt="display" width= 100% height= 500px>
        </div>
  <h2></h2>
  
    </div>
  


}
